In [2]:
import math
ages=[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]  # assigning ages to the list named ages
ages.sort() # sorting the ages using the predefined method called sort()
print("sorted list",ages)
print("Minimum age is",ages[0],"and Maximum age",ages[-1])
sum_min_max_age=ages[0]+ages[-1]
ages.append(ages[0]+ages[-1]) # getting the valuesusing index ,and using append we are updating the agees list
mid = len(ages) // 2 # finding middle index
sum_age=0
if len(ages)%2==0: 
    median=(ages[mid]+ages[~mid])/2 #if length is even ,dividing two middle items
else:
    median=ages[mid] # else middle index values will be median
for age in ages: #looping through every value in list and adding them together
    sum_age=sum_age+age
average=round(sum_age/len(ages),2)
print("Sum of min age and the max age ",sum_min_max_age)
print("Median ", median)
print("Average ",average)
print("range of ages list is",ages[-1]-ages[0])

sorted list [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age is 19 and Maximum age 26
Sum of min age and the max age  45
Median  24
Average  24.82
range of ages list is 26

In [3]:
dog=dict()
dog={"Name":"","Color":"","Breed":"","Legs":"","Age":""} #tuples are hashable objects and can be used as a key or value
print(dog)
#creating a dictonary called student_ and assigning keys and values
student_={"first_name":"Vikram Reddy","last_name":"Settypalli","gender":"male","age":24,"maritial_status":"single","skills":["Python","SQL"],"country":"inida","city":"tirupathi","address":"10-34,Gkothapalli"}
print(student_)
print("Length of the student",len(student_))#using len() to get length of the dictonary
print("student skills",student_["skills"], type(student_["skills"]))#geting the values of particular keys from dictionary 
student_["skills"]=student_["skills"]+["C","API"]#adding valuesto particular keys to dictionary by using the key
print("keys",student_.keys())#keys() return all the keys in a dictionary
print("values",list(student_.values()))#type conversion

{'Name': '', 'Color': '', 'Breed': '', 'Legs': '', 'Age': ''}
{'first_name': 'Vikram Reddy', 'last_name': 'Settypalli', 'gender': 'male', 'age': 24, 'maritial_status': 'single', 'skills': ['Python', 'SQL'], 'country': 'inida', 'city': 'tirupathi', 'address': '10-34,Gkothapalli'}
Length of the student 9
student skills ['Python', 'SQL'] <class 'list'>
keys dict_keys(['first_name', 'last_name', 'gender', 'age', 'maritial_status', 'skills', 'country', 'city', 'address'])
values ['Vikram Reddy', 'Settypalli', 'male', 24, 'single', ['Python', 'SQL', 'C', 'API'], 'inida', 'tirupathi', '10-34,Gkothapalli']

In [4]:
#creating a tuple and assigning values to it
brothers=("yoga","nithya","jagan")
sisters=("nikitha","sasikala","kiranmai")
siblings=brothers+sisters #using + operator we can join two tuples
print("my siblings",siblings)
print("i have",len(siblings), "siblings")
siblings=("rajagopal","kusuma")+siblings#adding new values to a tuple
family_members=siblings
print("family members",family_members)

my siblings ('yoga', 'nithya', 'jagan', 'nikitha', 'sasikala', 'kiranmai')
i have 6 siblings
family members ('rajagopal', 'kusuma', 'yoga', 'nithya', 'jagan', 'nikitha', 'sasikala', 'kiranmai')

In [5]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} # creating a set and assing values
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("total it companies ",len(it_companies))#len() return the length of the set
it_companies.add("Twitter")#add() is used to add new values to the set
print("after adding new it company ",it_companies)
it_companies.update(["Cognizant","Paypal"])#adding multiple values to the set using update
print("after adding multiple it companies ",it_companies)
it_companies.remove("Cognizant")#remove() removes the value from set if the values exists else it throws error
print("after removing one values ",it_companies)
print("remove methode raises an error when value does'nt exists where as discard methode does'nt raise an error")

a_union_b=A.union(B)#union() operation joins two sets
print("A Union B ",a_union_b)
a_intersect_b=A.intersection(B)#intersection() returns the common date from two sets
print("A Intersection B ",a_intersect_b)
print("is A is subset of B ",A.issubset(B))#issubset() return boolean value weather b is subset of a or not
print("is A and B are disjoint sets ",A.isdisjoint(B))#isdisjoint() return boolean value weather b is disjoint sets or not
print("the symmetric difference between A and B ",A.symmetric_difference(B))
#clear() used for deleting the set
del A # del keyword will delete the set completely
del B
age_set=set(age)#type conversion from list ot set
print("converted age list to set ",age_set)
print("difference between length of age list and length of age set is ",len(age)-len(age_set))

total it companies  7
after adding new it company  {'Amazon', 'Facebook', 'Twitter', 'Oracle', 'IBM', 'Microsoft', 'Apple', 'Google'}
after adding multiple it companies  {'Amazon', 'Apple', 'Paypal', 'Oracle', 'Facebook', 'Cognizant', 'Google', 'Twitter', 'IBM', 'Microsoft'}
after removing one values  {'Amazon', 'Apple', 'Paypal', 'Oracle', 'Facebook', 'Google', 'Twitter', 'IBM', 'Microsoft'}
remove methode raises an error when value does'nt exists where as discard methode does'nt raise an error
A Union B  {19, 20, 22, 24, 25, 26, 27, 28}
A Intersection B  {19, 20, 22, 24, 25, 26}
is A is subset of B  True
is A and B are disjoint sets  False
the symmetric difference between A and B  {27, 28}
converted age list to set  {19, 22, 24, 25, 26}
difference between length of age list and length of age set is  3

In [6]:
radius=int((input("enter radius")))#input() allows dynamic input from the user
_area_of_circle_=3.14*(radius**2)#using area of cirlce formula
_circum_of_circle_=2*3.14*radius
print("Area of Circle ",_area_of_circle_)
print("Circumference of circle ",_circum_of_circle_)

enter radius7
Area of Circle  153.86
Circumference of circle  43.96

In [7]:
sentance="I am a teacher and I love to inspire and teach people"
unique_letter=set(sentance.split())#Splits a string into a list where each word is a list item
print("No.of unique words are ",len(unique_letter))

No.of unique words are  10

In [8]:
print("Name\tAge\tCountry\tCity\nVikram\t23\tInida\tTirupathi")#using escape sequence

Name	Age	Country	City
Vikram	23	Inida	Tirupathi

In [9]:
radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with radius %s is %s meters square." %(radius,area))

The area of a circle with radius 10 is 314.0 meters square.

In [10]:
no_of_students=int(input("Enter no of students "))#reading input from the user
#creating empty list
weights_in_lbs=[]
weights_in_kg=[]
for stu in range(no_of_students):
    weights_in_lbs.append(int(input("enter weight of "+str(stu)+" ")))#reading user input and appending to the list
    weights_in_kg.append(round(weights_in_lbs[stu]*0.453592,2))#using mathmaticle operators coverting lbs to kg 
print("Weights in Lb",weights_in_lbs)
print("Weights in Kg",weights_in_kg)

Enter no of students 4
enter weight of 0 150
enter weight of 1 155
enter weight of 2 145
enter weight of 3 148
Weights in Lb [150, 155, 145, 148]
Weights in Kg [68.04, 70.31, 65.77, 67.13]